@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;

.videos {
    &__current {
        @include body-copy;
        color: $primary-one;
    }

    &__title {
        @include page-header;
        @include padding-headline;
    }

    &__divider {
        @include divider
    }

    &__info {
        color: $primary-three;
        display: flex;
        gap: 10rem;
    }

    &__publisher {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-bottom: 2rem;
    }

    &__channel {
        color: $primary-one;
        font-weight: 600;
    }

    &__performance {
        display: flex;
        flex-direction: column;
        gap: 2.25rem;
        padding-bottom: 2rem;
    }

    &__views {
        display: flex;
        align-items: center;
        gap: 1rem;

        &--text {
            line-height: 1;
        }
    }

    &__likes {
        display: flex;
        align-items: center;
        gap: 1rem;

        &--text {
            line-height: 1;
        }
    }

    &__description {
        padding-bottom: 2rem;
    }

    &__total-comments {
        font-weight: 600;
    }
}