@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.videos {
    &__comments-form {
        display: flex;
        gap: 2rem;

        @include tablet {
            padding-top: 3rem;
        }

        @include desktop {
            gap: 5rem;
        }
    }

    &__form-avatar {
        margin-top: 2rem;

        @include tablet {
            margin-top: 0rem;
        }

        @include desktop {
            margin-left: 1rem;
        }
    }

    &__form-container {
        flex: 1;
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            gap: 3rem;
            position: relative;
        }

        @include desktop {
            padding-right: 3rem;
        }
    }

    &__form-label {
        font-size: 1.25rem;
        color: $primary-three;
        padding-bottom: 0.5rem;

        @include tablet {
            position: absolute;
            top: -3rem;
        }
    }

    &__form-input {
        font-size: 1.5rem;
        color: $primary-one;
        background-color: $secondary-four;
        @include border-input;
        @include border-radius-small;
        padding: 1.5rem;

        @include tablet {
            width: 100%;
        }

        &--name {
            margin-bottom: 3rem;
        }

        &--comment {
            overflow-y: scroll;
            resize: none;
            height: 12rem;
            margin-bottom: 2rem;

            @include tablet {
                height: 5rem;
            }
        }

        &::placeholder {
            color: $primary-one;
        }
    }

    &__form-button {
        width: 100%;
        @include labels-and-buttons;
        background:
            url(../../assets/images/icons/add_comment.svg) no-repeat left 1.5rem center, $primary-two;
        background-size: 2rem;
        font-weight: 400;
        padding: 1.25rem;
        margin-bottom: 2rem;

        &:hover {
            background:
            url(../../assets/images/icons/add_comment.svg) no-repeat left 1.5rem center, $secondary-two;
        background-size: 2rem;
        }

        @include tablet {
            width: 27rem;
            height: 5rem;
            margin-bottom: 3.5rem;
        }
    }

    &__form-divider {
        @include divider;

        @include tablet {
            margin-bottom: 3rem;
        }
    }
}