// primary colors
$primary-one: #323232; // BrainFlix-Black
$primary-two: #0095FF; // BrainFlix-Blue
$primary-three: #AFAFAF; // Silver
$primary-four: #FFFFFF; // Silver

//secondary colors
$secondary-one: #000000; // BrainFlix-DarkBlack
$secondary-two: #0065AD; // BrainFlix-DarkBlue
$secondary-three: #E1E1E1; // Mercury
$secondary-four: #FAFAFA; // Alabaster

//breakpoints for responsiveness
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;