@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.videos {
    &__next-card {
        @include body-copy;
        color: $primary-one;
        display: flex;
        gap: 2rem;
        padding-bottom: 1.5rem;

        @include tablet {
            width: 40rem;
            padding-bottom: 3rem;
        }

        &:last-of-type{
            padding-bottom: 2.5rem;

            @include tablet {
                padding-bottom: 5rem;
            }

            @include desktop {
                padding-bottom: 9rem;
            }
        }
    }

    &__next-thumbnail {
        background-color: $secondary-three;
        aspect-ratio: 6/3.75;
        width: 12rem;
        object-fit: cover;
        @include border-radius-small;

        @include tablet {
            aspect-ratio: 6/3.5;
            width: 14rem;
        }
    }

    &__next-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__next-title {
        font-weight: 600;

        @include tablet {
            line-height: 2.5rem;
        }
    }

    &__next-channel {
        @include tablet {
            line-height: 1.75rem;
        }
    }
}