@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.videos {
    padding-bottom: 1rem;

    &__section-title {
        @include subheader;
        color: $primary-three;
        padding-bottom: 2rem;
    }
}